body {
  margin: 0;
  background-color: darkgrey;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#carCanvas {
  background-color: lightgrey;
}

#networkCanvas {
  background-color: black;
}

#verticalButtons {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

button {
  border: none;
  border-radius: 5px;
  padding: 5px 5px 7px 5px;
  margin: 2px;
  cursor: pointer;
}

button:hover {
  background-color: blue;
}
